# .pio
# .vscode/.browse.c_cpp.db*
# .vscode/c_cpp_properties.json
# .vscode/launch.json
# .vscode/ipch


# PlatformIO folders
.pio/
lib/deps/

# Editor folders
.vscode/

# Compiled files
*.o
*.bin
*.hex